doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/normalize.css')
    link(rel='stylesheet', href='../stylesheets/skeleton.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:400,300,600')

  body
    div(class='container')
       div(class='row')
         div(class="one-half column", style="margin-top: 17%")
           block content
