extends layout

block content
  h1= title
  p Welcome, #{profile.gn}
  table
    tr
      td User id
      td #{profile.uid}
    tr
      td Email address
      td #{profile.mail} 
    tr
      td Given name, Surname
      td #{profile.gn} #{profile.sn}
    tr
      td Display name
      td #{profile.dn} 

  a(class='button' href='http://2929.snewton.user.lax1.adnexus.net/Shibboleth.sso/Logout') Logout

